In [0]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id   pelajaran  nilai jenis-kelamin kelas
0         1      Fisika      9     laki-laki   12A
1         2     Ekonomi     54     laki-laki   12C
2         3      Fisika     91     perempuan   12B
3         4     Biologi     49     perempuan   12B
4         5  Matematika     29     laki-laki   12B

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [32]:
# code here
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai,index=range(1,21), columns=['nilai', 'kelas'])

# indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
print(df)

# indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai
print(df[4:10])

    nilai kelas
1       5   12C
2      36   12C
3      71   12D
4      65   12A
5      81   12B
6      25   12A
7      56   12C
8       0   12B
9       8   12A
10     31   12C
11     32   12A
12     24   12C
13     78   12A
14     70   12B
15     62   12B
16     62   12B
17     78   12C
18     27   12B
19     18   12D
20     81   12B
    nilai kelas
5      81   12B
6      25   12A
7      56   12C
8       0   12B
9       8   12A
10     31   12C

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [54]:
# code here
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jeniskelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)

ekonomi = df.pelajaran == 'Ekonomi'
fisika = df.pelajaran == 'Fisika'

kimia = df.pelajaran == 'Kimia'
nilaikimia = df.nilai > 50

nilai70 = df.nilai > 70
perempuan = df.jeniskelamin == 'perempuan'
kelas12c = df.kelas == '12C'

# semua data siswa pada mata pelajaran Ekonomi dan Fisika
print(df[(ekonomi) | (fisika)])
# semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia
print(df[(kimia) & (nilaikimia)])
# semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C
print(df[(nilai70) & (perempuan) & (kelas12c)])

   siswa_id pelajaran  nilai jeniskelamin kelas
4         5   Ekonomi     41    laki-laki   12C
5         6    Fisika     86    laki-laki   12D
8         9    Fisika     39    perempuan   12C
9        10    Fisika     21    perempuan   12D
    siswa_id pelajaran  nilai jeniskelamin kelas
10        11     Kimia     88    laki-laki   12B
11        12     Kimia     66    laki-laki   12D
16        17     Kimia     85    laki-laki   12C
    siswa_id pelajaran  nilai jeniskelamin kelas
14        15   Biologi     83    perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [58]:
# code here
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)

def normalize(x):
    return ( x - x.min() ) / ( x.max() - x.min() )

print(df.nilai)

print(df[['nilai']].apply(normalize))

0     21
1     30
2     13
3     81
4     82
5     42
6     43
7     62
8     22
9     21
10    55
11    15
12    74
13    81
14    60
15    73
16    37
17    45
18    40
19    42
Name: nilai, dtype: int64
       nilai
0   0.115942
1   0.246377
2   0.000000
3   0.985507
4   1.000000
5   0.420290
6   0.434783
7   0.710145
8   0.130435
9   0.115942
10  0.608696
11  0.028986
12  0.884058
13  0.985507
14  0.681159
15  0.869565
16  0.347826
17  0.463768
18  0.391304
19  0.420290